@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.svgWhite {
  filter: invert(100%);
  }
  html{
    
    font-family: "Work Sans", sans-serif;
  }
  .font-work-sans {
    font-family: "Work Sans", sans-serif;
  }
  .full-screen{
    height: 100vh !important;
  }